<a href="https://colab.research.google.com/github/CevinChristo/21CSS101J-RA2211042010002-Python/blob/main/RA2211042010002_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print ("Hello World!")

Hello World!

In [3]:
#simple print command
print ("Hello World!")

Hello World!

In [4]:
#simple print command
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
#variables
x = 5
y = "Hello, World!"

In [6]:
#using multiline comment
"""
This is a 
multiline comment
"""
print("Hello, World!")

Hello, World!

In [7]:
#creating variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
#changing value of variable
x = 4       
x = "Cevin" 
print(x)

Cevin

In [10]:
#Casting datatype
x = str(3)    
y = int(3)     
z = float(3)

In [12]:
#getting type of datatype
x = 5
y = "Cevin"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
#many values to multiple variables
x, y, z = "Papaya", "Pineapple", "Cherry"
print(x)
print(y)
print(z)

Papaya
Pineapple
Cherry

In [16]:
#same value to many variables
x = y = z = "Papaya"
print(x)
print(y)
print(z)

Papaya
Papaya
Papaya

In [17]:
#unpacking a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [18]:
#output multiple variables
x = "Python"
y = "is"
z = "nice"
print(x, y, z)

Python is nice

In [19]:
#addition
x = 5
y = 10
print(x + y)

15

In [21]:
#subtraction
x = 5
y = 10
print(x - y)

-5

In [22]:
#multiplication
x = 5
y = 10
print(x * y)

50

In [23]:
#division
x = 10
y = 5
print(x / y)

2.0

In [24]:
#multiple datatypes in same sentence
x = 5
y = "Cevin"
print(x, y)

5 Cevin